<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Politico</title>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>
    <body>
        <div class="wrap">
            <nav class="top-menu">
                <div class="container">
                    <div id="logo"> <a href="index.html">Politico</a></div>
                    <div id="navigation">
                        <ul>
                            <li class="active"> <a href="#">Home</a></li>
                            <li> <a class="active" href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content landing-content">
                <header>
                    <div class="container">
                        <div class="cta">
                            <span class="header-title">Let your voice be heard</span>
                            <p>Give your mandate to politicians running for different government offices
                            </p>
                            <button>Create Account</button>
                            <p>Or <a href="#">Login</a></p>
                        </div>
                        <div class="header-image">
                            <img src="../static/images/header.jpg" alt="header image">
                        </div>
                    </div>
                </header>
                <div class="promo">
                    <div class="container">
                        <div class="promo-element">
                            <h3>Easy</h3>
                            <p>Politico is an intuitive easy to use platform. You will be up and running in no time.
                            </p>
                        </div>
                        <div class="promo-element">
                            <h3>Transparent</h3>
                            <p>Give your mandate to politicians while building trust in the process through transparency.
                            </p>
                        </div>
                        <div class="promo-element">
                            <h3>Convinient</h3>
                            <p>Conviniently vote for politicians running for different government offices.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="follow">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Linked In</li>
                        </ul>
                    </div>
                    <div class="navigation">
                        <h3>Navigation</h3>
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
      <script src="../static/js/index.js"></script>
    </body>
</html>