<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Politico</title>
        <link rel="stylesheet" href="../../static/css/main.css">
        <link rel="stylesheet" href="../../static/css/fontawesome-all.min.css">
    </head>
    <body>
        <div class="wrap">
            <nav class="top-menu">
                <div class="container">
                    <div id="logo"> <a href="index.html">Politico</a></div>
                    <div id="navigation">
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content user-content">
                <div class="side-menu">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="userHome.html">Dashboard</a></li>
                            <li><a href="viewParties.html">Parties</a></li>
                            <li><a href="viewOffices.html">Offices</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-view user-vote">
                    <div id="voteModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>Are you sure you want to cast this vote</p><br>
                            <button onclick="hideVoteModal()">Cancel</button>
                            <button onclick="castVote()">Ok</button>
                        </div>
                    </div>
                    <div class="container">
                        <h2>Elect your Preferred Candidate for:</h2>
                        <div class="voting-section">
                            <div class="info">
                                <div class="details">
                                    <span class="label">Office:</span>
                                    <span>President</span><br>
                                    <span class="label">Type:</span>
                                    <span>State</span>
                                </div>
                            </div>
                            <div class="candidates">
                                <div class="candidate">
                                    <span class="fas fa fa-user-tie fa-5x"></span>
                                    <div class="details">
                                        <span class="label">Candidate Name:</span>
                                        <span class="name">Salome Waweru</span>
                                        <span class="label">Home County:</span>
                                        <span>Narok</span><br>
                                    </div>
                                    <div class="actions">
                                        <button onclick="selectCandidate()">Select</button>
                                    </div>
                                </div>
                                <div class="candidate">
                                    <span class="fas fa fa-user-tie fa-5x"></span>
                                    <div class="details">
                                        <span class="label">Candidate Name:</span>
                                        <span class="name">Jeff Waweru</span>
                                        <span class="label">Home County:</span>
                                        <span>Kilifi</span><br>
                                    </div>
                                    <div class="actions">
                                        <button onclick="selectCandidate()">Select</button>
                                    </div>
                                </div>
                                <div class="candidate">
                                    <span class="fas fa fa-user-tie fa-5x"></span>
                                    <div class="details">
                                        <span class="label">Candidate Name:</span>
                                        <span class="name">Collin wambua</span>
                                        <span class="label">Home County:</span>
                                        <span>Thika</span><br>
                                    </div>
                                    <div class="actions">
                                        <button onclick="selectCandidate()">Select</button>
                                    </div>
                                </div>
                                <div class="candidate">
                                    <span class="fas fa fa-user-tie fa-5x"></span>
                                    <div class="details">
                                        <span class="label">Candidate Name:</span>
                                        <span class="name">Salome Waweru</span>
                                        <span class="label">Home County:</span>
                                        <span>Narok</span><br>
                                    </div>
                                    <div class="actions">
                                        <button onclick="selectCandidate()">Select</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container">
                    <div class="footer-content">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Linked In</li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h3>Navigation</h3>
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
      <script src="../../static/js/userVote.js"></script>
    </body>
</html>