<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Politico</title>
        <link rel="stylesheet" href="../../static/css/main.css">
    </head>
    <body>
        <div class="wrap">
            <nav class="top-menu">
                <div class="container">
                    <div id="logo"> <a href="index.html">Politico</a></div>
                    <div id="navigation">
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content user-content">
                <div class="side-menu">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="userHome.html">Dashboard</a></li>
                            <li><a href="viewParties.html">Parties</a></li>
                            <li><a href="viewOffices.html">Offices</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-view user-view-parties">
                    <div class="container">
                        <h2>Registered Parties</h2>
                        <div class="parties">
                            <div class="party">
                                <img src="../../static/images/uploads/party-logo.jpeg" alt="party-logo">
                                
                                <div class="details">
                                    <h3>Politicing</h3>
                                    <p>Motto: Who else but us?</p>
                                    <p>Description: We stand for justice...</p>
                                </div>
                                <div class="actions">
                                    <button>More..</button>
                                </div>
                            </div>
                            <div class="party">
                                <img src="../../static/images/uploads/party-logo.jpeg" alt="party-logo">
                                
                                <div class="details">
                                    <h3>Chama Kikuu</h3>
                                    <p>Motto: Transparency is key</p>
                                    <p>Description: We stand for justice...</p>
                                </div>
                                <div class="actions">
                                    <button>More..</button>
                                </div>
                            </div>
                            <div class="party">
                                <img src="../../static/images/uploads/party-logo.jpeg" alt="party-logo">
                                
                                <div class="details">
                                    <h3>Politicing</h3>
                                    <p>Motto: Who else but us?</p>
                                    <p>Description: We stand for justice...</p>
                                </div>
                                <div class="actions">
                                    <button>More..</button>
                                </div>
                            </div>
                            <div class="party">
                                <img src="../../static/images/uploads/party-logo.jpeg" alt="party-logo">
                                
                                <div class="details">
                                    <h3>Chama Kikuu</h3>
                                    <p>Motto: Transparency is key</p>
                                    <p>Description: We stand for justice...</p>
                                </div>
                                <div class="actions">
                                    <button>More..</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container">
                    <div class="footer-content">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Linked In</li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h3>Navigation</h3>
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
      <script src="../static/js/index.js"></script>
    </body>
</html>