<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Politico</title>
        <link rel="stylesheet" href="../../static/css/main.css">
    </head>
    <body>
        <div class="wrap">
            <nav class="top-menu">
                <div class="container">
                    <div id="logo"> <a href="../index.html">Politico</a></div>
                    <div id="navigation">
                        <ul>
                            <li> <a href="../index.html">Home</a></li>
                            <li> <a href="../index.html#about">About</a></li>
                            <li> <a href="../index.html#Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content admin-content">
                <div class="side-menu">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="adminHome.html">Dashboard</a></li>
                            <li><a href="viewParties.html">Parties</a></li>
                            <li><a href="viewOffices.html">Offices</a></li>
                            <li><a href="viewPoliticians.html">Politicians</a></li>
                            <li><a href="viewCandidates.html">Candidates</a></li>
                            <li><a href="elections.html">Election Centre</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-view admin-home">
                    <div class="container">
                        <div class="panel">
                            <span></span>
                            <div class="details">
                                <span>(25) Registred parties</span><br/>
                                <span class="panel-link"><a href="viewParties.html">More details..</a></span>
                            </div>
                        </div>
                        <div class="panel">
                            <span></span>
                            <div class="details">
                                <span>(120) Government Offices</span>
                                <br/>
                                <span class="panel-link"><a href="viewOffices.html">More details..</a></span>
                            </div>
                        </div>
                        <div class="panel">
                            <span></span>
                            <div class="details">
                                <span>(503) Registred politicians</span><br/>
                                <span class="panel-link"><a href="viewPoliticians.html">More details..</a></span>
                            </div>
                        </div>
                        <div class="panel">
                            <span></span>
                            <div class="details">
                                <span>(373) Candidates</span><br/>
                                <span class="panel-link"><a href="viewCandidates.html">More details..</a></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container">
                    <div class="footer-content">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Linked In</li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h3>Navigation</h3>
                        <ul>
                            <li> <a href="../index.html">Home</a></li>
                            <li> <a href="../index.html#about">About</a></li>
                            <li> <a href="../index.html#Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
      <script src="../../static/js/index.js"></script>
    </body>
</html>