<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Politico</title>
        <link rel="stylesheet" href="../../static/css/main.css">
    </head>
    <body>
        <div class="wrap">
            <nav class="top-menu">
                <div class="container">
                    <div id="logo"> <a href="index.html">Politico</a></div>
                    <div id="navigation">
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a class="active" href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="content admin-content">
                <div class="side-menu">
                    <div class="menu">
                        <ul>
                            <li class="active"><a href="adminHome.html">Dashboard</a></li>
                            <li><a href="dashParties.html">Parties</a></li>
                            <li><a href="dashOffices.html">Offices</a></li>
                            <li><a href="dashPoliticians.html">Politicians</a></li>
                            <li><a href="dashCandidates.html">Candidates</a></li>
                            <li><a href="elections.html">Election Centre</a></li>
                        </ul>
                    </div>
                </div>
                <div class="main-view admin-create-office">
                    <div class="container">
                        <h3>Create Political Office</h3>
                        <div class="form-container">
                            <form action="" id="create-party">
                                <div class="form-row">
                                    <label for="name">Name</label>
                                    <input type="text" name="name" id="name">
                                </div>
                                <div class="form-row">
                                    <label for="type">Type</label>
                                    <input type="text" name="type" id="type">
                                </div>
                                <div class="form-row">
                                    <label for="duties">Duties</label>
                                    <textarea name="duties" id="duties" cols="30" rows="10"></textarea>
                                </div>
                                <div class="form-row">
                                    <button type="submit">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <footer>
                <div class="container">
                    <div class="footer-content">
                        <h3>Follow Us</h3>
                        <ul>
                            <li>Twitter</li>
                            <li>Facebook</li>
                            <li>Linked In</li>
                        </ul>
                    </div>
                    <div class="footer-content">
                        <h3>Navigation</h3>
                        <ul>
                            <li> <a href="#">Home</a></li>
                            <li> <a href="#">About</a></li>
                            <li> <a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
      <script src="../../static/js/index.js"></script>
    </body>
</html>